# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication & Obfuscation
app.*.symbols
app.*.map.json

# Android Studio build artifacts
/android/app/debug
/android/app/profile
/android/app/release

# Variables de Entorno
.env
.env.*
!.env.example

# Claves de firma de Android (Keystores)
*.keystore
*.jks
key.properties
android/key.properties

# Archivos de configuración de servicios en la nube
google-services.json
GoogleService-Info.plist

# Archivos temporales de compilación multiplataforma
/windows/flutter/ephemeral/
/linux/flutter/ephemeral/
/macos/Flutter/ephemeral/

# Reportes de errores de Flutter
flutter_*.log